<article class="post-teaser {{post_class}} post-year-{{date format="Y"}}">
    
    <h3 class="post-teaser__title"><a href="{{url}}">{{title}}</a></h3>

    <time class="post-teaser__meta" datetime="{{date format='Do-MMMM-YYYY'}}">
        {{date format="DD/MM/YY"}}
    </time>

</article>
