<article class="post-teaser">

    <h3 class="post-teaser__title"><a href="{{url}}">{{title}}</a></h3>

    <div class="post-teaser__meta">
        <time datetime="{{date format='Do-MMMM-YYYY'}}">
            {{date format="Do MMMM YYYY"}}
        </time>
        &mdash; 
        {{#primary_tag}}
            <a href="{{url}}">{{name}}</a>
        {{/primary_tag}}
    </div>

    <p class="post-teaser__excerpt">{{excerpt}}</p>

</article>
