<article class="post-teaser post-teaser--micro {{post_class}}">

    <img class="post-teaser__avatar" src="{{asset 'images/me.jpg'}}" />

    <div class="post-teaser__meta">
        <strong class="text--color-prominent">Ben</strong> - <a class="post-teaser__date" href="{{url}}">{{date timeago="true"}}</a>
    </div>
    
    {{content}}

</article>
