<article class="post post-teaser">

    <header class="post__header">
        <div class="post__meta">
            <time class="post__date" datetime="{{date format='Do-MMMM-YYYY'}}">
                {{date format="Do MMMM YYYY"}}
            </time>
            &mdash; 
            {{#primary_tag}}
                <a href="{{url}}">{{name}}</a>
            {{/primary_tag}}
        </div>
        <a href="{{url}}">
            <h2 class="post__title">{{title}}</h2>
        </a>
    </header>

</article>
