<article class="post-teaser">

    <h2 class="heading"><a href="{{url}}">{{title}}</a></h2>

    <div class="meta">
        <time datetime="{{date format='Do-MMMM-YYYY'}}">
            {{date format="Do MMMM"}}
        </time>
        &mdash; 
        {{#primary_tag}}
            <a href="{{url}}">{{name}}</a>
        {{/primary_tag}}
    </div>

</article>
