<article class="post-teaser {{post_class}} post-year-{{date format='Y'}}" data-post-date="{{published_at}}" data-post-id="{{id}}">
    
    <h3 class="post-teaser__heading"><a class="post-teaser__title" href="{{url}}">{{title}}</a> <span class="post-teaser__number js-post-number" style="opacity: 0;"></span></h3>

    {{#if excerpt}}
        <p class="post-teaser__excerpt">{{excerpt}}</p>
    {{/if}}

    <div class="post-teaser__meta">
         <div class="post-teaser__date" href="{{url}}">{{date format="DD/MM/YY"}}</div>
         {{#if tags}}
             {{#primary_tag}}
                  <a class="post-teaser__tag" href="{{url}}">#{{name}}</a>
             {{/primary_tag}}
         {{/if}}
    </div>

</article>
