{{!< default}}

<main role="main">

    {{#get "posts" include="tags" limit="all"}}
        
    <h1 class="heading mb-3">Archive</h1>

    <p>{{t "All {total} posts I've written on this site since 2012." total=pagination.total}}</p>

    {{/get}}

    <h2 class="subheading mb-5 mt-6">Tags</h2>

    {{#get "tags" limit="all"}}
    <ul class="list list--divided">
        {{#foreach tags}}
        <li>
            <a href="{{url}}" title="{{name}}" class="tag tag-{{slug}}">{{name}}</a>
        </li>
        {{/foreach}}
    </ul>
    {{/get}}

    <h2 class="subheading mb-5 mt-6">Archive</h2>

    <div class="archive">
        {{#get "posts" include="tags" limit="all"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}
    </div>

</main>