{{!< default}}

{{#get "posts" include="tags" limit="all"}}

    <div class="page-header width">

        <h1>Archive</h1>

        <p>{{t "All {total} posts I've written on this site since 2012." total=pagination.total}}</p>

    </div>

{{/get}}

<div class="layout">

    <aside class="sidebar gh-sidebar">
        
        <h2 class="subheading">Tags</h2>

        {{#get "tags" limit="all"}}
        <ul class="list list--divided">
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag tag-{{slug}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/get}}

    </aside>
    
    <div class="content gh-content">

        <div class="archive">
            {{#get "posts" include="tags" limit="all"}}
                {{#foreach posts}}
                    {{> post-teaser}}
                {{/foreach}}
            {{/get}}
        </div>

    </div>

</div>