{{!< default}}

<div class="page-header width">

    {{#tag}}

        <h1 class="mb-3">
            <span class="color--text-subtle">Tag:</span> {{name}}
        </h1>
        
        <p class="color--text-subtle">{{plural ../pagination.total empty='0 posts' singular='% post' plural='% posts'}}{{#if description}}{{description}}{{/if}}.</p>

    {{/tag}}

</div>

<div class="layout">

    <aside class="sidebar gh-sidebar">

        <h2 class="subheading">Tags</h2>

        {{#get "tags" limit="all"}}
        <ul class="list list--divided">
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag tag-{{slug}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/get}}

    </aside>
    
    <div class="content gh-content">

        <div class="archive">
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        </div>

        {{pagination}}

    </div>

</div>
